* {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: lightgrey;
  }
  
  p,
  h3 {
    margin: 0;
  }
  
  .text-center {
    text-align: center;
  }
  